.carregador {
  display: flex;
  flex-direction: row;
  background: #333;
  padding: 15px;
  border-radius: 6px;

  div {
    margin-right: 10px;
  }

  div:last-child {
    margin-right: 0;
  }
}

.botao-basico {
  padding: 12px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.painel-configuracao {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-right: 10px;
  border-right: 2px solid #dadada;
}

.ordinary-text-input {
  width: calc(100% - 16px);
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.play-stop {
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 120px;
  height: 120px;
  font-size: 16px;
  font-weight: bold;
}

.strips-container {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.channel-strip {
  background: #1e1e1e;
  padding: 15px;
  border-radius: 6px;
  border-top: 4px solid #28a745;
  display: flex;
  margin-right: 7px;
  flex-direction: column;
  gap: 10px;
  width: 80px;
}

.visual-click {
  display: flex;
  flex-direction: row;
  width: 265px;
  justify-content: space-between;
  margin-bottom: 10px;

  div {
    width: 66px;
    height: 10px;
    background: #646464;

    &.active-head {
      background-color: #f0a080;
    }

    &.active {
      background: #f0df80;
    }
  }
}

.strip-slider {
  flex: 1;
  cursor: pointer;
  writing-mode: vertical-rl;
  direction: rtl;
  height: 150px;
}

.visor-digital {
  background: #1e1e1e;
  padding: 8px;
  color: #f0df80;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 250px;
  display: flex;
  gap: 2px;
}

.dado {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 0px;
  gap: 5px;
}

.valor {
  font-size: 16px;
  font-weight: bold;
}

.valor-menor {
  font-size: 12px;
}

.strip-channel-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.strip-button-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 5px;
}

.strip-channel-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.strip-button {
  flex: 1;
  padding: 6px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 10px;
}

.fader-indicators {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  .limits {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35px;
    justify-content: space-between;

    span {
      font-size: 11px;
      color: #d3ffa1;
      font-weight: bold;
    }

    .fader-level {
      background-color: #d3ffa1;
      color: #0f3b19;
      font-size: 13px;
      padding: 6px;
      border-radius: 6px;
    }
  }

}