<div style="padding: 20px; font-family: sans-serif; background: #222; color: #fff; border-radius: 8px;">
  <h2>🎛️ Virtual Studio Web</h2>

  <div class="carregador">
    <div class="painel-configuracao">
      <label style="display: block; margin-bottom: 5px; font-weight: bold; color: #aaa;">📁 Repositório áudios online:</label>
      <input type="text" class="ordinary-text-input" [(ngModel)]="fileRepository.onlineRepositoryUrl" (ngModelChange)="setAudioRepository($event)" placeholder="URL do repositório de áudios" />
      <button class="botao-basico" (click)="adicionarArquivosLocal()">Adicionar áudios ao repositório local</button>
      <label style="display: block; margin-top: 5px; margin-bottom: 5px; font-weight: bold; color: #aaa;">📂 Selecionar projeto:</label>
      <input style="margin-bottom: 8px" type="file" accept=".json" (change)="onConfigSelecionada($event)" />
      <button routerLink="/criar-projeto" class="botao-basico">Criar projeto</button>
      <div style="margin-top: 8px; color: #ffc107; font-size: 14px;">⚡ Status: {{ audio.statusCarregamento() }}</div>
    </div>
    <div class="painel-arranjador">
      <h2>🔊 Tocando Agora: <strong>{{ audio.trechoAtivo()?.nome }}</strong></h2>
      <h4>Próximo trecho: <span [style.color]="audio.proximoTrecho()?.nome ? '#ffc107' : ''">{{ audio.proximoTrecho()?.nome || '[nenhum]' }}</span></h4>
      <h4>Loops completos: {{ audio.loopCount()}}</h4>
      <div class="visual-click">
        <div id="b1" [class.active-head]="audio.beatAtualNoBloco() === 1"></div>
        <div id="b2" [class.active]="audio.beatAtualNoBloco() === 2"></div>
        <div id="b3" [class.active]="audio.beatAtualNoBloco() === 3"></div>
        <div id="b4" [class.active]="audio.beatAtualNoBloco() === 4"></div>
      </div>
      <div class="visor-digital">
        <div class="dado">
          <span class="valor-menor">POS: </span>
          <span class="valor"><strong style="font-size: 23px;">{{ audio.compassoAtualNoBloco() }} | </strong>{{ audio.beatAtualNoBloco() }} : {{ audio.subdivisaoAtualNoBloco() }}</span>
        </div>
        <div class="dado">
          <span class="valor-menor">BPM: </span>
          <span class="valor">{{ audio.bpmAtual() }}</span>
        </div>
      </div>
    </div>
    <div style="margin-left: auto">
      <button class="play-stop"
        [disabled]="!audio.isFullyLoaded()"
        (click)="audio.togglePlay()"
        [title]="!audio.isFullyLoaded() ? 'Carregue um projeto primeiro' : ''"
        [style.background]="backgroundColorPlayButton()">
        @if (audio.isPlaying()) { ⏹️ <br><br> Playing } @else { ▶️ <br><br> Stopped }
      </button>
    </div>
  </div>

  @if (audio.canais().length > 0) {
    
    <div style="margin-bottom: 20px;">
      <h3>Selecione o Próximo Bloco:</h3>
      <div style="display: flex; gap: 10px;">
        @for (trecho of audio.markers(); track trecho.id) {
          <button (click)="audio.agendarTrecho(trecho.id)"
                  [style.background]="audio.trechoAtivo()?.id === trecho.id ? '#28a745' : (audio.proximoTrecho()?.id === trecho.id ? '#ffc107' : '#555')"
                  [style.color]="(audio.trechoAtivo()?.id === trecho.id || audio.proximoTrecho()?.id === trecho.id) ? '#000' : '#fff'"
                  class="botao-basico">
            {{ trecho.nome }}
          </button>
        }
      </div>
    </div>

    <div style="margin-bottom: 20px; background: #2a2a2a; padding: 20px; border-radius: 6px;">
      <h3>🎚️ Mixer</h3>
      
      <div class="strips-container">
        @for (canal of audio.canais(); track canal.id) {
          <div class="channel-strip">
            
            <div class="strip-channel-name-container">
              <strong [title]="canal.nome" class="strip-channel-name">{{ canal.nome }}</strong>              
            </div>

            <div class="fader-indicators">
              <div class="limits">              
                <span>+9</span>
                <span class="fader-level">{{ canal.volumeSignal() }}</span>
                <span>-40</span>
              </div>
              <div class="fader">
                <input type="range" min="-40" max="9" step="1"
                    [value]="canal.volumeSignal()"
                    (input)="atualizarVolumeRange(canal, $event)"
                    class="strip-slider" />
              </div>
            </div>

            <div class="strip-button-group">
              <button (click)="audio.alternarMute(canal)"
                      [style.background]="canal.isMuted() ? '#dc3545' : '#444'"
                      class="strip-button">
                {{ canal.isMuted() ? '🔇 MUTE' : '🔊 MUTE' }}
              </button>
              <button (click)="audio.alternarSolo(canal)"
                      [style.background]="canal.isSoloed() ? '#770' : '#444'"
                      class="strip-button">
                {{ canal.isSoloed() ? '❗️ SOLO' : '⚠️ SOLO' }}
              </button>
            </div>

            <div style="font-size: 11px; color: #aaa; text-align: right;">
              Destino: <span style="color: #ffc107; font-weight: bold;">{{ canal.saidaAtiva() }}</span>
            </div>

          </div>
        }
      </div>
    </div>
  }
</div>