@mixin mobile-vertical {
  @media screen and (max-width: 1200px) and (orientation: portrait) {
    @content;
  }
}

.studio-container {
  padding: 20px;
  font-family: sans-serif;
  background: #222;
  color: #fff;

  @include mobile-vertical {
    padding: 10px;
  }
}
.now-playing-caption {
    color: #a2ca96;
    margin-bottom: 5px;
    font-size: 13px;
    display: block; /* Garante que fique em uma linha separada */
    @include mobile-vertical {    
      font-size: 14px;
    }
}
.painel-arranjador {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 6px;

  @include mobile-vertical {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
  }
}
.carregador {
  display: flex;
  flex-direction: row;
  background: #333;
  padding: 15px;
  border-radius: 6px;

  div {
    margin-right: 10px;
    @include mobile-vertical {
      margin-right: 0;
    }
  }
  div:last-child {
    margin-right: 0;
  }

  .painel-controles {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }

  @include mobile-vertical {
    flex-direction: column;
    align-items: center;
    width: calc(100% - 30px);

    .painel-controles {
      margin-left: 0;
      margin-top: 15px;
      width: 100%;
    }
  }
}

.botao-basico {
  background: #1f8336;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  @include mobile-vertical {
    padding: 10px;
  }
}

.painel-configuracao {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-right: 10px;
  border-right: 2px solid #dadada;

  @include mobile-vertical {
    width: 100%;
    padding-right: 0;
    padding-bottom: 10px;
    border-right: none;
    border-bottom: 2px solid #dadada;
  }
}

.ordinary-text-input {
  width: calc(100% - 16px);
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.play-stop {
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 120px;
  height: 120px;
  font-size: 16px;
  font-weight: bold;

  @include mobile-vertical {
    width: 100%;
    height: auto;
  }
}

.mixer-container {
  margin-bottom: 20px;
  background: #2a2a2a;
  padding: 20px;
  border-radius: 6px;

  @include mobile-vertical {
    width: calc(100% - 20px);
    padding: 10px;
  }
}

.strips-container {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  @include mobile-vertical {
    flex-direction: column;
  }
}

.channel-strip {
  background: #1e1e1e;
  padding: 15px;
  border-radius: 6px;
  border-top: 4px solid #28a745;
  display: flex;
  margin-right: 7px;
  flex-direction: column;
  gap: 10px;
  width: 80px;

  @include mobile-vertical {
    width: calc(100% - 9px);
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px;
    gap: 3px;
    margin-bottom: 5px;
  }
}

.trechos {
  display: flex;
  width: 100%;
  gap: 10px;
  @include mobile-vertical {    
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Divide o espaço em exatamente 3 colunas iguais */
    gap: 10px; /* Espaçamento entre os botões */
  }
}

.botao-trecho {
  padding: 20px 30px;
  @include mobile-vertical {
    padding: 5px;
    font-size: 16px;
    text-align: left;
    display: flex;
    align-items: flex-start; /* Posiciona o texto no topo */
    justify-content: left; /* Alinha o texto à esquerda */
    height: 100px;
    width: 100%;
  }
}

.fader-functions {
  @include mobile-vertical {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }
}

.visual-click {
  display: flex;
  flex-direction: row;
  width: 265px;
  justify-content: space-between;
  margin-bottom: 10px;

  div {
    width: 100%;
    height: 10px;
    background: #646464;

    &.active-head {
      background-color: #f0a080;
    }

    &.active {
      background: #f0df80;
    }
  }
  @include mobile-vertical {
    width: 100%;
    justify-content: space-around;
  }
}

.strip-slider {
  flex: 1;
  cursor: pointer;
  writing-mode: vertical-rl;
  direction: rtl;
  height: 100%;

  @include mobile-vertical {
    writing-mode: horizontal-tb;
    direction: ltr;
    height: auto;
    width: 100%;
  }
}

.visor-digital {
  background: #1e1e1e;
  padding: 8px;
  color: #f0df80;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 250px;
  display: flex;
  gap: 2px;
}

.dado {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 0px;
  gap: 5px;
}

.valor {
  font-size: 16px;
  font-weight: bold;
}

.valor-menor {
  font-size: 12px;
}

.strip-channel-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile-vertical {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
  }
}

.below-buttons {
  font-size: 11px;
  color: #aaa;
  text-align: right;

  @include mobile-vertical {
    display: none;
  }
}

.strip-button-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 5px;

  @include mobile-vertical {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.strip-channel-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;

  @include mobile-vertical {
    font-size: 16px;
  }
}

.fader-level-vertical {
  display: none;

  @include mobile-vertical {
    display: block;
    font-size: 11px;
    color: #d3ffa1;
    font-weight: bold;
    margin-left: 5px;
    width: 25px !important;
  }
}

.strip-button {
  flex: 1;
  padding: 6px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 10px;
}

.fader {
  width: 100%;
  height: 100%;

  @include mobile-vertical {
    margin-bottom: 10px;
  }
}

.fader-indicators {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 200px;

  @include mobile-vertical {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .limits {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    @include mobile-vertical {
      display: none;
      flex-direction: row;
      width: 100%;
    }

    span {
      font-size: 11px;
      color: #d3ffa1;
      font-weight: bold;
    }
  }

}


.fader-level {
  background-color: #bada97;
  color: #0b3614 !important;
  font-size: 13px;
  padding: 6px;
  border-radius: 6px;
  width: 20px;
  border: 2px inset #276134;

  @include mobile-vertical {
    text-align: center;
  }
}